# keeb.io BDN9 board configuration

# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if BOARD_KEYSEEBEE_LEFT

config ZMK_KEYBOARD_NAME
    default "Keyseebee"

config ZMK_SPLIT_ROLE_CENTRAL
  default y

endif # BOARD_KEYSEEBEE_LEFT

if BOARD_KEYSEEBEE_LEFT || BOARD_KEYSEEBEE_RIGHT

#config BOARD
#    default "keyseebee"

config ZMK_SPLIT
  default y

config ZMK_SPLIT_SERIAL
  default y

# config ZMK_SPLIT_SERIAL_UART
#   default y

config SERIAL
  default y

endif # BOARD_KEYSEEBEE_LEFT || BOARD_KEYSEEBEE_RIGHT
