# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_JOSHKEEB_LEFT
	def_bool $(shields_list_contains,joshkeeb_left)

config SHIELD_JOSHKEEB_RIGHT
	def_bool $(shields_list_contains,joshkeeb_right)
