if SHIELD_COSMOTYL_DONGLE

config ZMK_KEYBOARD_NAME
    default "Cosmotyl"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_STUDIO
  default n

endif

if SHIELD_COSMOTYL_LEFT || SHIELD_COSMOTYL_RIGHT || SHIELD_COSMOTYL_DONGLE

config ZMK_SPLIT
    default y

endif
